//SCSS Config File
/*** Author: Mateusz Boroch (matt@onemanwebdev.com) ***/
/*
 * Inside this file should be all repeat- and reuse-able elements
 */

/* Fonts Types */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Ubuntu:400');
$font-primary: 'Open Sans', sans-serif;
$font-second: 'Ubuntu Sans', sans-serif;
$font-alt: sans-serif;

/* Font Sizes */
$font-base: 10px;
$font-xs: 1.2 * $font-base;
$font-sm: 1.4 * $font-base;
$font-md: 1.6 * $font-base;
$font-lg: 1.8 * $font-base;
$font-xl:   2 * $font-base;

/* Colors */
@import 'base/colors';
//import custom colors goes here

/* Grid Config */
$grid-columns: 24;
$grid-breakpoints: (xs: 0, sm: 480px, md: 660px, lg: 1000px, xl: 1340px);

/* Flex Config */
$flex-column: 24;
$flex-breakpoints: (xs: 0, sm: 320px, md: 660px, lg: 960px, xl: 1400px);

/* Config for Padding, Margin, Border System */
$offset-type: (padding: 'p', margin: 'm', border: 'b');
$offset-dir: (top: 't', right: 'r', bottom: 'b', left: 'l');
$offset-value: (1: 1px, 2: 2px, 5: 5px, 10: 10px, 15: 15px, 20: 20px);
$offset-orto: (all: 'a', x: 'x', y: 'y');
