//SCSS Config File
/*** Author: Mateusz Boroch (matt@onemanwebdev.com) ***/
/*
 * Inside this file should be all repeat- and reuse-able elements
 */

/* Fonts Types */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Ubuntu:400');
$font-primary: 'Open Sans', sans-serif;
$font-second: 'Ubuntu Sans', sans-serif;
$font-alt: sans-serif;

/* Font Sizes */
$font-base: 10px;
$font-xs: 1.2 * $font-base;
$font-sm: 1.4 * $font-base;
$font-md: 1.6 * $font-base;
$font-lg: 1.8 * $font-base;
$font-xl:   2 * $font-base;

/* Colors */
$black:          #000000;
$gray-90:        #1a1a1a;
$gray-80:        #333333;
$gray-70:        #4d4d4d;
$gray-60:        #666666;
$gray-50:        #808080;
$gray-40:        #999999;
$gray-30:        #b3b3b3;
$gray-20:        #cccccc;
$gray-10:        #e6e6e6;
$white:          #ffffff;

$red-90:         #b71c1c;
$red-70:         #d32f2f;
$red-50:         #f44336;
$red-30:         #e57373;
$red-10:         #ffcdd2;

$pink-90:        #880e4f;
$pink-70:        #c2185b;
$pink-50:        #e91e63;
$pink-50:        #f06292;
$pink-50:        #f8bbd0;

$purple-90:      #4a148c;
$purple-70:      #7b1fa2;
$purple-50:      #9c27b0;
$purple-30:      #ba68c8;
$purple-10:      #e1bee7;

$deep-purple-90: #311b92;
$deep-purple-70: #512da8;
$deep-purple-50: #673ab7;
$deep-purple-30: #9575cd;
$deep-purple-10: #d1c4e9;

$indigo-90:      #1a237e;
$indigo-70:      #303f9f;
$indigo-50:      #3f51b5;
$indigo-30:      #7986cb;
$indigo-10:      #c5cae9;

$blue-90:        #0d47a1;
$blue-70:        #1976d2;
$blue-50:        #2196f3;
$blue-30:        #64b5f6;
$blue-10:        #bbdefb;

$light-blue-90:  #01579b;
$light-blue-70:  #0288d1;
$light-blue-50:  #03a9f4;
$light-blue-30:  #4fc3f7;
$light-blue-10:  #b3e5fc;

$cyan-90:        #006064;
$cyan-70:        #0097a7;
$cyan-50:        #00bcd4;
$cyan-30:        #4dd0e1;
$cyan-10:        #b2ebf2;

$teal-90:        #004d40;
$teal-70:        #00796b;
$teal-50:        #009688;
$teal-30:        #4db6ac;
$teal-10:        #b2dfdb;

$green-90:       #1b5e20;
$green-70:       #388e3c;
$green-50:       #4caf50;
$green-30:       #81c784;
$green-10:       #c8e6c9;

$light-green-90: #33691e;
$light-green-70: #689f38;
$light-green-50: #8bc34a;
$light-green-30: #aed581;
$light-green-10: #dcedc8;

$lime-90:        #827717;
$lime-70:        #afb42b;
$lime-50:        #cddc39;
$lime-30:        #dce775;
$lime-10:        #f0f4c3;

$yellow-90:      #f57f17;
$yellow-70:      #fbc02d;
$yellow-50:      #ffeb3b;
$yellow-30:      #fff176;
$yellow-10:      #fff9c4;

$amber-90:       #ff6f00;
$amber-70:       #ffa000;
$amber-50:       #ffc107;
$amber-30:       #ffd54f;
$amber-10:       #ffecb3;

$orange-90:      #e65100;
$orange-70:      #f57c00;
$orange-50:      #ff9800;
$orange-30:      #ffb74d;
$orange-10:      #ffe0b2;

$deep-orange-90: #bf360c;
$deep-orange-70: #e64a19;
$deep-orange-50: #ff5722;
$deep-orange-30: #ff8a65;
$deep-orange-10: #ffccbc;

$brown-90:       #3e2723;
$brown-70:       #5d4037;
$brown-50:       #795548;
$brown-30:       #a1887f;
$brown-10:       #d7ccc8;


/* Grid Config */
$grid-columns: 24;
$grid-breakpoints: (xs: 0, sm: 480px, md: 660px, lg: 1000px, xl: 1340px);

/* Config for Padding, Margin, Border System */
$offset-type: (padding: 'p', margin: 'm', border: 'b');
$offset-dir: (top: 't', right: 'r', bottom: 'b', left: 'l');
$offset-value: (1: 1px, 2: 2px, 5: 5px, 10: 10px, 15: 15px, 20: 20px);
$offset-orto: (all: 'a', x: 'x', y: 'y');
