@keyframes spin {
    0%   { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    0%   { -webkit-transform: rotate(0deg); } // Chrome (Android Native)
    100% { -webkit-transform: rotate(360deg); } // Chrome (Android Native)
}

.loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
.loader--circle {
    position: relative;
    left: 50%;
    top: 50%;
    width: 100px;
    height: 100px;
    margin: -50px 0 0 -50px;
    border: 15px solid transparent;
    border-top-color: #1976d2;
    border-radius: 50%;
    z-index: 1500;
    -webkit-animation: spin 1.25s linear infinite;
    animation: spin 1.25s linear infinite;
}
