/*
 * Flex-box grid system
 */

// Placeholders for CSS classes
%container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;
}

%row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: stretch;
}

// Main SCSS classes
.container {
    @extend %container;
    justify-content: space-between;
    min-height: 100vh;
}

.row {
    @extend %row;
}

[class^="col-"] {
    @extend %container;
}

@each $breakpoint, $width in $flex-breakpoints {
    @media all and (min-width: $width) {
        .col-#{$breakpoint}-fixed {
            flex-basis: map-get($flex-breakpoints, 'xl');
        }
        .col-#{$breakpoint}-0 {display: none;}
        @for $flex from 1 through $flex-columns {
            .col-#{$breakpoint}-#{$flex} {
                flex-grow: $flex;
            }
        }
    }
}

.table {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    flex-basis: 100%;


    &__container {
        @extend %container;
        overflow: auto;
    }
}
