//SCSS Grid System
/*** Author: Mateusz Boroch (matt@onemanwebdev.com) ***/
/*
 * File contains complex RWD Grid system
 * To see breakpoint open '_config.scss' file in main 'scss' directory
 */

.container {
    &, &__full {
        width: 100%;
    }
    margin-left: auto;
    margin-right: auto;
}

.row::after {
    content: '';
    clear: both;
    display: table;
}

img {
    max-width: 100%;
    height: auto;
}

/* Grid system - containers & columns */
@each $size, $value in $grid-breakpoints {
    @media all and (min-width: $value) {
        @if ($size == 'xs') {
            .container {width: 100%;}
        } @else {
            .container {width: $value;}
        }
        .col-0-#{$size} {display: none;}
        @for $i from 1 through $grid-columns {
            $elem: ($i/$grid-columns) * 100%;
            .col-#{$i}-#{$size} {width: $elem;}
        }
    }
}

/* Floating left all 'col-' */
[class^='col-'] {
    float: left;
}
