/*
 * File to create Your own style sheet
 */

tr {
    border-bottom: 1px solid $gray-very-light;
    transition: all 0.5s ease;
    &:hover {
        background-color: $gray-light;
        color: $white;
    }
}

td, th {
    @extend .cpa10;
}
