/*
 * File to create Your own style sheet
 */
.button {
    @extend .cpy10;
    @extend .cpx20;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 700;
    text-transform: capitalize;

    &__add {
        background-color: $light-green-50;
        color: $white;
        transition: all 0.35s ease;

        &:hover {
            background-color: $light-green-70;
        }

        &:active {
            background-color: $light-green-10;
            color: $gray-30;
        }
    }

    &__submit {
        background-color: $lime-50;
        color: $white;
        min-width: 1px;
        margin: auto;
        transition: all 0.35s ease;

        &:hover {
            background-color: $lime-70;
        }

        &:active {
            background-color: $lime-10;
            color: $gray-30;
        }

        &--disabled {
            background-color: $gray-10;
            color: $gray-20;
        }
    }
}

.errorRegex {
    padding: 10px;
    text-align: center;

    &__text {
        background-color: $yellow-10;
        color: $red-90;
        padding: 5px 20px;
        margin: 0 auto;
        width: initial;
    }
}

.menu {
    @extend .cpa10;
    text-transform: uppercase;
}

.submenu {
    background-color: $gray-40;
}

.table-row {
    &__add-container {
        padding: 5px;
        input {
            padding: 2px;
            border-bottom: 1px solid $light-blue-70;
            &::placeholder {
                color: $gray-30;
            }
        }
    }
}

table {
    width: 100%;
}

thead {
    border-bottom: 2px solid $gray-40;

    tr {
        background-color: $gray-05;
        font-weight: 700;
    }
}

tbody {
    tr {
        color: $gray-80;
        text-align: center;

        &:not(:last-child) {
            border-bottom: 1px solid $gray-30;
            transition: all 0.35s ease;
        }

        &:hover:not(:last-child) {
            background-color: $gray-20;
            color: $white;
        }
    }
}


td, th {
    @extend .cpa10;
}

th {
    text-transform: capitalize; //do usunięcia
}

ul, li {
    display: inline-block;
}

.header {
    background-color: $gray-50;
    font-weight: 700;
}

.footer {
    @extend .cpa10;
    background-color: $gray-90;
    color: $gray-10;
    font-weight: 700;
    text-align: center;
}

.TESTsubmenu {
    @extend .cpa10;
    background-color: $gray-30;
    color: $gray-80;
    font-weight: 700;
    text-transform: capitalize;
    transition: all 0.5s ease;
}

.TESTsubmenu > ul > li:hover {
    color: $white;
}
