/*
 * File to create Your own style sheet
 */
table {
    width: 100%;
}

tr {
    border-bottom: 1px solid $gray-very-light;
    transition: all 0.5s ease;

    &:hover {
        background-color: $gray-light;
        color: $white;
    }
}

td, th {
    @extend .cpa10;
}

ul, li {
    display: inline-block;
}

.footer {
    @extend .cpa10;
    background-color: $gray-very-dark;
    color: $gray-very-light;
    font-weight: 700;
}
